@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/montserrat/Montserrat-Black.ttf');
}

//Global settings
*{
  box-sizing: border-box;
}
body{
  margin:0;
  background-color: #ffffff;
}
a{
  text-decoration: none;
  outline: none;
}
p{
  color: #444444;
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
h2{
  color: #bc1f31;
  font-family: "Montserrat-Black";
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 20px 0px;
  text-align: center;
}

//mixins
@mixin menu-font(){
  color: #bc1f31;
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
}

//basic block
.container-fluid{
  width: 100%;
}
.container{
  max-width: 1024px;
  width: 100%;
  margin: auto;
}
.social{
  display: inline-flex;
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    transition: 0.4s;
    a{
      margin: 4px;
      display: block;
      height: 26px;
    }
    &:hover{
      transform: rotate(360deg);
    }
  }
}

//
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu{
    padding-left: 0;
    list-style: none;
    min-height: 140px;
    margin: 0;
    display: flex;
    max-width: 730px;
    justify-content: space-between;
    width: 100%;
    li{
      display: inline-flex;
      align-items: center;
      //padding: 0px 20px;
      padding: 0px 0px;
      border-bottom: 4px solid transparent;
      &.active{
        border-bottom: 4px solid #bc1f31;
      }
      a{
        display: block;
        text-decoration: none;
        outline: none;

        @include menu-font();
      }
    }
  }
  .logo{
    text-decoration: none;
    outline: none;
  }
}

.main-ground{
  background-image: url("../img/header_ground.jpg");
  background-size: cover;
  .container{
    min-height: 780px;
    position: relative;
    display: flex;
    align-items: center;
    div{
      h1{
        text-shadow: 0 0 11px rgba(0, 0, 0, 0.12);
        color: #ffffff;
        font-family: "Montserrat-Black";
        font-size: 48px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 4.8px;
        max-width: 900px;
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 1.8px;
        border-radius: 25px;
        border: 2px solid #ffffff;
        width: 317px;
        height: 58px;
      }
    }
    .social{
      position: absolute;
      top:19px;
      right: 20px;
    }
  }
}

.what-we-do{
  max-width: 1200px;
  margin-top: 99px;
  margin-bottom: 98px;
  &>div{
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      display: block;
      width: 80%;
      top:150px;
      left: 10%;
      height: 1px;
      border-radius: 1px;
      background-color: #4b4b4b;
    }
    div{
      text-align: center;
      max-width: 255px;
      img{}
      h3{
        color: #bc1f31;
        font-family: "Montserrat-Black";
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        margin-bottom: 13px;
      }
      span.dot{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 85px;
        height: 14px;
        background-color: white;
        z-index:1;
        &:before{
          content: "";
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: #bc1f31;
          display: block;
          top: 50%;
          left: 50%;
        }
      }
      p{
      }
    }
  }
}

.options{
  &>div{
    margin-top: 39px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div{
      position: relative;
      width: 32%;
      img{
        background-color: black;
        position: relative;
        display: block;
      }
    }
    .image{
      height: 210px;
      margin-bottom: 170px;
      position: relative;
      img{
        object-fit: cover;
        width: 100%;
        height: 210px;
      }
      &:before{
        content: "";
        position: absolute;
        display: block;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(160, 160, 160, 0.5);
        z-index: 1;
      }
    }
    .mode{
      background-color: rgba(188,31,49,0.9);
      height: 254px;
      width: 83%;
      position: absolute;
      top: 107px;;
      right: 8%;
      margin: auto;
      padding: 20px;
      z-index: 10;
      h3{
        color: #ffffff;
        font-family: Montserrat-Medium;
        font-size: 21px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 2.1px;
        margin-top: 19px;
        margin-bottom: 14px;
        min-height: 45px;
        text-align: center;
      }
      p{
        color: #ffffff;
        font-family: Montserrat-Light;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0.35px;
        text-align: center;
        width: 83%;
        margin: auto;
      }
    }
  }
}

.time-line{
  padding-top: 85px;
  padding-bottom: 107px;
  background-color: #bc1f31;
  * {
    color: white;
  }
  .time-piker{
    min-height: 200px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    ul{
      display: flex;
      width: 100%;
      list-style: none;
      padding-left: 0;
      li{
        font-family: Montserrat-Bold;
        display: flex;
        height: 36px;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 0px 0px;
        background-color: #891825;
        width: auto;
        flex-grow: 1;
        &:nth-child(odd){
          color: #891825;;
          background-color: white;
        }
        &:first-child{
          border-radius: 20px 0 0 20px;
        }
        &:last-child{
          border-radius: 0 20px 20px 0;
        }
        .day{
          position: absolute;
          text-align: center;
          bottom: 65px;
          right: -16px;
          &:before{
            content: "";
            position: absolute;
            bottom: -21px;
            display: block;
            width: 3px;
            height: 18px;
            background-color: #891825;
            left: 16px;
          }
          label{
            opacity: 0.25;
            color: #ffffff;
            font-family: "Montserrat-Black";
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-transform: uppercase;
            letter-spacing: 0.35px;
            display: block;
          }
          span{
            color: #ffffff;
            font-family: Montserrat-Bold;
            font-size: 24px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
          }
        }
        .description{
          position: absolute;
          top: 65px;;
          right: -47px;
          text-align: center;
          color: #ffffff;
          font-family: Montserrat-Light;
          font-size: 14px;
          font-weight: 300;
          line-height: 21px;
          min-width: 94px;
          &:before{
            content: "";
            position: absolute;
            top: -21px;
            display: block;
            width: 3px;
            height: 18px;
            background-color: #891825;
            right: 46px;
          }
        }
        .day.last{
          right: 6px;
        }
        .description.last{
          right: -24px;
        }
      }
    }
  }
  .timeline-descriptions{
    display: flex;
    &>div{
      flex-grow: 1;
      max-width: 270px;
      width: 100%;
      h3{
        color: #ffffff;
        font-family: "Montserrat-Black";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        min-height: 59px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 29px;
      }
      p{
        color: #ffffff;
        font-family: Montserrat-Light;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
      &.middle-item{
        padding: 0 50px;
        max-width: 100%;
      }
    }
  }
}
.our-story-ground{
  background-image: url('../img/bg.png');
  background-size: auto 100%;
}
.our-story{
  //max-width: 1200px;
  margin-top: 143px;
  margin-bottom: 100px;

  display: grid;
  grid-template: "a b b" "a c d" "e e d";

  &>div{
    width: 100%;
  }
  .area-a{
    grid-area: a;
    width: 313px;
    span{
      right: -55px;
    }
  }
  .area-b{
    grid-area: b;
  }
  .area-c{
    grid-area: c;
  }
  .area-d{
    grid-area: d;
    width: 313px;
    justify-self: end;
    span{
      left: -80px;
    }
  }
  .area-e{
    grid-area: e;
    padding-right: 20px;
  }
  h3{
    color: #bc1f31;
    font-family: "Montserrat-Black";
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-top: 0;
    margin-bottom: 39px;

  }
  p{
    color: #4b4b4b;
    font-family: Montserrat-Medium;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.35px;
  }

  .images{
    color: #4b4b4b;
    position: relative;
    div{
      margin-bottom: 20px;
    }
    p{
      width: 90%;
      margin: auto;
      text-align: center;
    }
    span{
      position: absolute;
      display: block;
      color: #ffffff;
      font-family: "Montserrat-Black";
      font-size: 21px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.1px;
      background-color: rgba(188,31,49, 0.9);
      padding: 16px 20px;
      top: 200px;;
    }
  }
}

.faq{
  text-align: center;
  padding-top: 23px;
  h2{
    padding-bottom: 26px;
    margin-bottom: 0;
  }
  ul{
    padding-left: 0;
    padding-bottom: 33px;
    list-style: none;
    border-bottom: 4px solid #bc1f31;
    li{
      a{
        color: #4b4b4b;
        font-family: Montserrat-Bold;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 1.6px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:20px 0px;
        &:after{
          position: relative;
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          margin-left: 10px;
          background-image: url('../img/arrow.png');
        }
      }
      p{
        display: none;
      }
    }
  }
  div{
    margin-top: 78px;
    h2{
      margin-bottom: 13px;
    }
    span{
      color: #444444;
      font-family: Montserrat-Bold;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }
    p{
      color: #444444;
      font-family: Montserrat-Bold;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 1.8px;
    }
  }
}

.map{
  margin-top: 76px;
  background-image: url("../img/map.jpg");
  background-size: cover;
  height: 620px;
  color: #ffffff;
  display: flex;
  div{
    width: 100%;
  }
  .contact{
    background-color: #bc1f31;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    h2{
      color: white;
      margin-bottom: 14px;
    }
    img{
      margin-top: 25px;
    }
    p{
      margin-top: 9px;
      color: #ffffff;
      font-family: Montserrat-Light;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.35px;
      margin-bottom: 5px;
    }
  }
}

.footer{
  background-color: #323232;
  background-image: url('../img/footer.png');
  background-position: center center;
  background-repeat: no-repeat;

  .transparent-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat-Bold;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1.8px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    width: 300px;
    height: 39px;
  }

  .container:first-child{
    padding-top: 100px;
    padding-bottom: 89px;
    display: flex;
    justify-content: center;
    &>div{
      margin: 0px 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:first-child{
        //align-self: flex-end;
      }
      ul{
        margin: 0;
      }
    }
  }
  h3{
    color: #ffffff;
    font-family: "Montserrat-Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 39px;
    letter-spacing: 1.8px;
  }
  ul.links{
    padding-left: 0;
    list-style: none;
    li{
      a{
        color: #ffffff;
        font-family: Montserrat-Light;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 1.4px;
      }
    }
  }
  .call{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .copyring{
    color: #ffffff;
    font-family: Montserrat-Light;
    font-size: 11px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1000px) {
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}